*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    /* Sets 1 REM = 10px */
    font-size: 62.5%;
}
body{
    background-color: rgb(36, 36, 36);
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    padding-left: 1rem;
}

.box{
    background-position: cover;
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
    padding: 2px;
    width: 50px;
    height: 50px;
    opacity: 100%;
    margin: 10px 0 10px 0;
    background-color: white;
    filter: drop-shadow(2px 4px 6px black);
}
.left_nav{
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*contact form*/
.contact-form-outline{
    background-color: rgb(141, 135, 135);
    margin-top: 4rem;
    height: 90vh;
    border-radius: 20px;
}
.contact-me{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 10px;
    position: relative;
    font-size: 3rem;
    filter: drop-shadow(2px 4px 6px black);
}
.namebox{
    padding-top: 2rem;
}
.email{
    padding-left: 5em;
}
.messagebox{
    position: relative;
    height: 18rem;
    width: 100%;
    border-radius: 1%;
    border-color: rgb(177, 175, 175);
}
.submit-button{
    float: right;
    font-size: 1.5rem;
    width: 8rem;
    padding: 5px 0 5px 0;
    margin: 5px 1em 5px 0;
}

/* 
0-500 px        phone
500-800 px      tablet/port
800-1200 px     tablet hoiz
1200-1800 px    laptop
1800+ px        desktop
*/

@media only screen and (min-width: 320px) and (max-width: 600px){
    img{
        width: 20rem;
    }
    .frontpage{
        background-image: url('tech-background.jpg');
        padding: 0%;
        width: 90vw;
        height: 90vh;
        background-position: center;
        background-size: cover;
        border-radius: 0%;
        box-shadow: 1px 1px 10px 10px rgb(36, 36, 36) inset;
        box-shadow: 0;
        margin-top: 3.5rem;
    }
    .welcome-message{
        margin-top: 0;
        margin-left: .5em;
        text-align: center;
        color: white;
        
    }
    .picture{
        margin-top: 3rem;
        width: 16rem;
        height: 18rem;
        background-size: cover;
        border-radius: 50%;
        justify-items: center;
        justify-content: center;
    }
    .parent{
        top: 2rem;
    }
    .fullstack{
        color: white;
        border-radius: 10px;
        top: 0;
        position: relative;
        font-size: 1rem;
        text-align: center;
    }
    .info{
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        display: -ms-grid;
        display: flex;
    }
    .namebox{
        padding-top: 2rem;
    }
    .email{
        padding-left: 0;
    }
    .box{
        background-position: cover;
        background-size: cover;
        border-radius: 5px 5px 0px 0px;
        padding: 2px;
        width: 40px;
        height: 40px;
        opacity: 100%;
        bottom : 0;

        margin: 0;
        background-color: none;
        filter: none;
    }
    .left_nav{
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, transparent, black);   

        float: none;
        margin: none;
        
        top: 93%;
        -ms-transform: translateY(0);
        transform: translateY(0);
       /*problem lies here*/
    }
    .parent a{
        justify-content: center;
    }
    /*
    about me page styling
    */
    .about-me{
        background-color: rgb(141, 135, 135);
        margin: 4rem 5px 0rem 5px;
        height: inherit;
        border-radius: 20px;
        color: black;
        padding-right: 15px;
        padding-left: 15px;
    }
    .contact-me{
        background-image: url("tech-background.jpg");
        background-position: center;
        background-size: cover;
        color: white;
        border-radius: 10px;
        top: 10px;
        position: relative;
        font-size: 3rem;
        filter: drop-shadow(2px 4px 6px black);
    }
    .pic_of_me{
        background-image: url(meAgain.jpg);
        border-radius: 50%;
        float: inherit;
        width: 20rem;
        height: 20rem;
        background-position: center;
        background-size: cover;
    }
     /*
    skills page styling
    */
    .skills-page{
        background-image: url("tech-background.jpg");
        background-position: center;
        background-size: cover;
        color: white;
        border-radius: 10px;
        top: 3rem;
        height: 60rem;
        position: relative;
    }
    .skills{
        position: relative;
        border-radius: 10px;
        background-color: rgb(141, 135, 135);
        top: 10px;
        height: fit-content;
        width: 90%;
        padding: inherit;
    }
    .education{
        position: relative;
        border-radius: 10px;
        background-color: rgb(141, 135, 135);
        top: 10px;
        height: fit-content;
        width: 90%;
        padding: inherit;
    }
    .regular-text{
        color: black;
    }
     /*
    individual project styling
    */
    .contact-form-outline{
        background-color: rgb(141, 135, 135);
        margin-top: 4rem;
        height: fit-content;
        border-radius: 20px;
    }
    .project_text{
        font-size: 15px;
        float: none;
        width: 90%;
        justify-content: center;
    }
    .clock{
        width: 90%;
        border-radius: 3%;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: center;
    }
     /*
    projects page
    */
    .projects{
        height: fit-content;
        width: 98%;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 10px;
        background-image: url(tech-background.jpg);
        background-position: center;
        background-size: cover;
    }
    .cell{
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        height: 20rem;
        filter: drop-shadow(2px 4px 6px black);
        background-color: rgb(141, 135, 135);
        color: black;
    }
    .projects a:hover{
        background-image:  linear-gradient(to bottom, transparent, black);
    }
    .cell h3{
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 23px;
    }
    .view-button{
        float: right;
        margin-top: 10rem;  
    }
     /*
    contacts page
    */
    .email{
        padding-left: 3px;
    }
    .messagebox{
        position: relative;
        height: 18rem;
        width: 100%;
        border-radius: 1%;
        border-color: rgb(177, 175, 175);
    }
    .submit-button{
        float: right;
        font-size: 1.5rem;
        width: 8rem;
        padding: 5px 0 5px 0;
        margin: 5px 1em 5px 0;
    }
}
/*
Desktop
*/
