body{
    background-color: rgb(36, 36, 36);
    font-family: 'Righteous', cursive;

}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    padding-left: 1rem;
}

.frontpage{
    background-image: url('tech-background.jpg');
    width: 100rem;
    height: 32rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px rgb(36, 36, 36) inset;
    border-color: rgb(36, 36, 36);
    margin-top: 6em;
    padding: 0.5rem !important;
}
.welcome-message{
    text-align: center;
    margin-top: 4.5em;
    margin-left: 1em;
    color: white;
}
.about-me{
    background-color: rgb(141, 135, 135);
    margin-top: 4rem;
    height: 36rem;
    border-radius: 20px;
    color: black;
}

.fullstack{
    color: white;
    border-radius: 10px;
    top: 10px;
    position: relative;
    font-size: 3rem;
    text-align: center;
}
.picture{
    margin-left: 11rem;
    margin-top: 6rem;
    width: 15rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.info{
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    display: -ms-flexbox !important;
     display: flex !important;
}
@media only screen and  (max-width: 800px){
    .frontpage{
        padding: 0%;
        width: 90vw;
        height: 90vh;
        background-position: center;
        background-size: cover;
        border-radius: 0%;
        box-shadow: 0;
        margin-top: 2.5rem;
    }
    .welcome-message{
        margin-top: 0;
        margin-left: .5em;
        text-align: center;
        color: white;
        
    }
    .picture{
        padding: 0%;
        margin-left: 0em;
        margin-top: 0rem;
        width: 15rem !important;
        height: 18rem;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .fullstack{
        color: white;
        border-radius: 10px;
        top: 0px;
        position: relative;
        font-size: 1rem;
        text-align: center;
    }
    .info{
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        display: -ms-grid;
        display: flex;
    }
 }
.about_me{
    position: relative;
    border-color: white;
    top: 25px;
    float: left;
    width: 60%;
    height: 37em;
    font-size: 25px;
}
.pic_of_me{
    background-image: url('meAgain.jpg');
    margin-right: 4rem;
    margin-top: 3rem;
    border-radius: 10%;
    float: right;
    width: 20rem;
    height:26rem;
    background-position: center;
    background-size: cover;
}
.text-button{
    margin-left: 10rem;
    margin-top: 2rem;
}
.img-button{
    margin-top: 20rem;
    margin-left: 5.2rem;
}
.contact-form-outline{
    background-color: rgb(141, 135, 135);
    margin-top: 4rem;
    height: 90vh;
    border-radius: 20px;
}
@media only screen and  (max-width: 1000px){
    .contact-form-outline{
        height: 110vmax;
    }
}
@media only screen and  (max-width: 1100px) and (min-width: 1001px){
    .contact-form-outline{
        height: 90vmax;
    }
}
@media only screen and  (max-width: 1400px) and (min-width: 1101px){
    .contact-form-outline{
        height: 50vmax;
    }
}
.contact-me{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 10px;
    position: relative;
    font-size: 3rem;
    filter: drop-shadow(2px 4px 6px black);
}
.namebox{
    padding-top: 2rem;
}
.email{
    padding-left: 5em;
}
.messagebox{
    position: relative;
    height: 18rem;
    width: 100%;
    border-radius: 1%;
    border-color: rgb(177, 175, 175);
}
.submit-button{
    float: right;
    font-size: 1.5rem;
    width: 8rem;
    padding: 5px 0 5px 0;
    margin: 5px 1em 5px 0;
}
.projects{
    height: 36rem;
    width: 100rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10px;
    background-image: url(tech-background.jpg);
    background-position: center;
    background-size: cover;
}
.cell{
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    height: 16rem;
    background-color: rgb(141, 135, 135);
    color: black;
}
.view-button{
    float: right;
    margin-top: 10rem;

}

.skills-page{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 5rem;
    height: 34.5rem;
    position: relative;
}
.skills{
    position: relative;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(141, 135, 135);
    top: 25px;
    float: left;
    height: 31rem;
    width: 48%;
}
.education{
    position: relative;
    border-radius: 10px;
    background-color: rgb(141, 135, 135);
    top: 25px;
    float: right;
    height: 31rem;
    width: 48%;
}
.regular-text{
    color: black;
}

/* Container needed to position the overlay. Adjust the width as needed */
.contain {
    position: relative;
}
  
/* Make the image to responsive */
.image {
display: block;
width: 100%;
height: auto;
}
.devworks{
    background-image: url("images/devWorks/devworks.png");
    background-position: center;
    background-size: cover;
}
.whats_cookin{
    background-image: url("images/whatsCookin/whatsCookin.png");
    background-position: center;
    background-size: cover;
}
.movie_library{
    background-image: url("images/movieLibrary/movieLibrary.png");
    background-position: center;
    background-size: cover;
}

.opus_grows{
    background-image: url("images/opusGrows/opus.png");
    background-position: center;
    background-size: cover;
}
.custom_list{
    background-image: url("images/customList/custom-list.png");
    background-position: center;
    background-size: cover;
}
.javascript_clock{
    background-image: url("javaScriptClock.png");
    background-position: center;
    background-size: cover;
}
a:link{
    text-decoration: none;
}

.left_nav{
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box{
    background-position: cover;
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
    padding: 2px;
    width: 50px;
    height: 50px;
    opacity: 100%;
    margin: 10px 0 10px 0;
    background-color: white;
    filter: drop-shadow(2px 4px 6px black);
}
.project_text{
    font-size: 20px;
    color:black;
    margin-top: 8px;
    width: 38%;
    float: right;
}
@media only screen and  (max-width: 1000px){
    .project_text{
        font-size: 15px;
        float: none;
        width: 90%;
        justify-content: center;
    }
}
.clock{
    width: 50vw;
    border-radius: 3%;
    margin-top: 20px;
}
@media only screen and  (max-width: 500px){
    .namebox{
        padding-top: 2rem;
    }
    .email{
        padding-left: 0;
    }
    .box{
        background-position: cover;
        background-size: cover;
        border-radius: 0px 5px 5px 0px;
        padding: 2px;
        width: 50px;
        height: 50px;
        opacity: 100%;
        margin: 10px 0 10px 0;
    }
    .left_nav{
        float: none;
       
        position: absolute;
        bottom: 0;
        top: 90%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}