body{
    background-color: rgb(36, 36, 36);
    font-family: 'Righteous', cursive;

}
img{
    /*didnt work the way i hoped*/
    opacity: .2;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    padding-left: 1rem;
}
.frontpage{
    width: 100rem;
    height: 32rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px rgb(36, 36, 36) inset;
    border-color: rgb(36, 36, 36);
    margin-top: 6em;
}
.welcome-message{
    text-align: center;
    margin-top: 4.5em;
    margin-left: 1em;
    color: white;
}
.about-me{
    background-color: rgb(141, 135, 135);
    margin-top: 4rem;
    height: 36rem;
    border-radius: 20px;
    color: black;
}
.fullstack{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 10px;
    position: relative;
    font-size: 3rem;
    text-align: center;
}
.picture{
    background-image: url('MeKatelynn.jpg');
    margin-left: 6em;
    margin-top: 4rem;
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.about_me{
    position: relative;
    border-color: white;
    top: 25px;
    float: left;
    width: 60%;
    height: 37em;
    font-size: 25px;
}
.pic_of_me{
    background-image: url('meAgain.jpg');
    margin-right: 4rem;
    margin-top: 3rem;
    border-radius: 10%;
    float: right;
    width: 20rem;
    height:26rem;
    background-position: center;
    background-size: cover;
    border-radius: 3%;
}
.text-button{
    margin-left: 10rem;
    margin-top: 2rem;
}
.img-button{
    margin-top: 20rem;
    margin-left: 5.2rem;
}
.contact-form-outline{
    background-color: rgb(141, 135, 135);
    margin-top: 4rem;
    height: 36rem;
    border-radius: 20px;
}
.contact-me{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 10px;
    position: relative;
    font-size: 3rem;
}
.namebox{
    padding-top: 2rem;
}
.email{
    padding-left: 5em;
}
.messagebox{
    position: relative;
    height: 18rem;
    width: 100%;
    border-radius: 1%;
    border-color: rgb(177, 175, 175);
}
.submit-button{
    float: right;
    font-size: 1.5rem;
    width: 8rem;
    padding: 5px 0 5px 0;
    margin: 5px 1em 5px 0;
}
.projects{
    height: 36rem;
    width: 100rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10px;
    background-image: url(tech-background.jpg);
    background-position: center;
    background-size: cover;
}
.cell{
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    height: 16rem;
    background-color: rgb(141, 135, 135);
    color: black;
}
.view-button{
    float: right;
    margin-top: 10rem;

}

.skills-page{
    background-image: url("tech-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    top: 5rem;
    height: 34.5rem;
    position: relative;
}
.skills{
    position: relative;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(141, 135, 135);
    top: 25px;
    float: left;
    height: 31rem;
    width: 48%;
}
.education{
    position: relative;
    border-radius: 10px;
    background-color: rgb(141, 135, 135);
    top: 25px;
    float: right;
    height: 31rem;
    width: 48%;
}
.regular-text{
    color: black;
}

/* Container needed to position the overlay. Adjust the width as needed */
.contain {
    position: relative;
}
  
/* Make the image to responsive */
.image {
display: block;
width: 100%;
height: auto;
}
.whats_cookin{
    background-image: url("whatsCookin.png");
    background-position: center;
    background-size: cover;
}
.movie_library{
    background-image: url("movieLibrary.png");
    background-position: center;
    background-size: cover;
}

.opus_grows{
    background-image: url("opus.png");
}
.custom_list{
    background-image: url("custom-list.png");
    background-position: center;
    background-size: cover;
}
a:link{
    text-decoration: none;
}
